
:root {
    /*  Color Code  */
    --primary: #FDDA44;
    --secondary: #000000;
    --whitesmoke: #f5f5f5;
    --white-color: #ffffff;
    --silver-color: #BFBFBF;
    --cyna-blue-color: #e6e7e8;
    --border-color: #F2C94C;
    --bold-font: "Nunito Bold";
    --Regular-font: "Nunito Regular";
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x:hidden;
    background-color: var(--whitesmoke);
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary);
}
a:hover {
    text-decoration: none;
    color: var(--secondary);
}
a:focus {
    outline: none;
    color: var(--secondary);
}
h1,h2,h3,h4,h6,p,a{
    margin: 0;
    color: var(--secondary);
}
.btn:focus,
.btn:hover {
    outline: none;
    box-shadow:none;
}
.bg-black {
    background: var(--secondary);
}
@font-face {
    font-family: 'Nunito Bold';
    src: url('../fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito Regular';
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
}
/* Header Css Start */
.header-outer {
    margin-top: 6rem;
}
.header-outer-div {
    display: flex;
    align-items: center;
}
.header-logo {
    width: 60%;
}
.header-content {
    margin-left: -100px;
}
header img{
    margin: 0 auto;
    display: block;
    float: none;
    width: 135px;
    max-width: none !important;
}
.header-inner{
    background: var(--primary);
    padding: 30px;
}
.header-inner h1{
    font-family: var(--bold-font);
    font-size: 38px;
    line-height: 60px;
    color: var(--secondary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-inner p{
    font-family: var(--Regular-font);
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--secondary);
}
.header-call-action {
    position: fixed;
    top: 25px;
    text-align: center;
    margin: 0 auto;
    float: right;
    width: 8%;
    right: 0;
}
.thankyou-new-appointment {
    width: 13%;
    top: 5px;
}
.thankyou-close-appointment {
    top: 50px;
}
.thankyou-new-appointment .header-call-action-div:hover img {
    transform: rotate(0deg);
}
.thankyou-new-appointment .header-call-action-div img {

}
.header-call-action-div {
    width: 37px;
    background-color: var(--primary);
    /* height: 37px; */
    border-radius: 50px;
    float: right;
    transition: width 1s;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-call-action-div a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-call-action img {
margin-top: 0;
margin-right: 0px;
/* transition: transform .7s ease-in-out; */
width: 30px;
}

.header-call-action-div:hover img {
transform: rotate(360deg);
margin-right: 4px;
margin-left: 4px;
}
.header-call-action-div p {
display: none;
color: var(--secondary);
font-family: var(--bold-font);
}
.header-call-action-div:hover {
width: 100%;
}
.header-call-action-div:hover p {
display: block;
/* position: relative;
top: -28px; */
color: var(--secondary);
font-family: var(--bold-font);
}
/* Header Css End */


/* Progress Bar Css Start */
.progress-div {
    margin-top: 100px;
    margin-bottom: 100px;
}
@keyframes bounce {
	 0% {
		 transform: scale(1);
	}
	 33% {
		 transform: scale(0.9);
	}
	 66% {
		 transform: scale(1.1);
	}
	 100% {
		 transform: scale(1);
	}
}
.steps {
	 display: flex;
	 width: 100%;
	 margin: 0;
	 padding: 0 0 2rem 0;
	 list-style: none;
}
.step {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 flex: 1;
	 position: relative;
	 pointer-events: none;
}
.step--active, .step--complete {
	 cursor: pointer;
	 pointer-events: all;
}
.step:not(:last-child):before, .step:not(:last-child):after {
	 display: block;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 height: 1px;
	 content: '';
	 transform: translateY(-50%);
	 will-change: width;
	 z-index: -1;
}
 .step:before {
	 width: 100%;
	 background-color: var(--silver-color);
}
 .step:after {
	 width: 0;
	 background-color: rgba(0, 0, 0, 0.3);
}
 .step--complete:after {
	 width: 100% !important;
	 opacity: 1;
	 transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;
     background-color: var(--secondary);
}
 .step__icon {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: relative;
     width: 35px;
     height: 35px;
	 background: var(--secondary);
	 border-radius: 50%;
	 color: transparent;
	 font-size: 20px;
     color: var(--white-color);
     font-family: var(--bold-font);
}
.big-step {
    width: 55px;
    height: 55px;
    font-size: 30px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
 .step--complete.step--active .step__icon {
	 color: var(--white-color);
	 transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

 .step--complete .step__icon {
	 animation: bounce 0.5s ease-in-out;
	 background-color: var(--primary);
	 border-color: var(--primary);
	 color: var(--white-color);
}
 .step__label {
	 position: absolute;
	 bottom: -2rem;
	 left: 50%;
	 margin-top: 1rem;
	 font-size: 0.8rem;
	 text-transform: uppercase;
	 transform: translateX(-50%);
}
.step--incomplete.step--inactive .step__label {
	 color: var(--cyna-blue-color);
}
 .step--incomplete.step--active .step__label {
	 color: var(--white-color);
}
 .step--active .step__label {
	 transition: color 0.3s ease-in-out;
	 transition-delay: 0.5s;
}
/* Progress Bar Css End */

/* Appointment For Section Css Start */

.appointment-outer-div {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.appointment-for-second {
    margin-top: 3rem;
}
.appointment-for h2,
.appointment-category-selection h2,
.book-your-slot h2 {
    font-family: var(--bold-font);
}

.appointment-for h2::after, .appointment-category-selection h2::after,  .book-your-slot h2::after{
    content: '';
    background-color: var(--primary);
    width: 200px;
    height: 3px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}
.appointment-inner {
    /* border-radius: 10px; */
    background-color: var(--primary);
    text-align: center;
    padding: 30px;
    width: 200px;
    margin: 0 auto;
}
.appointment-inner img {
    width: 80px;
    height: 80px;
}
.appointment-inner h3{
    margin-top: 25px;
    font-family: var(--bold-font);
    font-size: 20px;
    line-height: 12px;
    color: var(--secondary);
}
/* Appointment For Section Css End */

/* Choose Location Section Start */
.appointfor-location-outer-location {
    gap: 50px;
}
.appointment-for .appointfor-location-outer {
    width: 85%;
}
.appointfor-location-outer-main {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.appointfor-location-outer {
    width: 48%;
}
/* .appointfor-location-outer:not(:last-child) {
    margin-bottom: 50px;
} */
/* .appointfor-location-outer:nth-child(odd) {
    padding-right: 25px;
}
.appointfor-location-outer:nth-child(even) {
    padding-left: 25px;
} */
.appointfor-location{
    background-color: var(--primary);
    padding: 30px;
}
.appointfor-location-div {
    display: flex;
    align-items: center;
}

.appointfor-location-icon {
    width: 300px;
}
.appointfor-location-icon img{
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.appointfor-location-icon h3{
    font-family: var(--bold-font);
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin-top: 1.5rem;
}
.appointfor-location-content {
    width: 600px;
    margin-left: 50px;
    position: relative;
}
.appointfor-location-content p {
    font-size: 23px;
    font-family: var(--bold-font);
    line-height: 28px;
    margin-bottom: 15px;
}
.appointfor-location-content span {
    font-size: 18px;
    font-family: var(--bold-font);
    line-height: 0;
}
.appointfor-location-content::before{
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--secondary);
    position: absolute;
    left: -50px;
}
.flex {
    display: flex;
}
.flex.center-v {
    align-items: center;
}
.flex.center-h {
    justify-content: center;
}
.flex.center-vh {
    align-items: center;
    justify-content: center;
}
.flex.start {
    justify-content: flex-start;
}
.flex.end {
    justify-content: flex-end;
}
.flex.around {
    justify-content: space-around;
}
.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clickable, #calender-title{
    cursor: pointer;
}
.colorRed {
    color: var(--secondary);
}
.choose-date-picker-outer {
    width: 46%;
}
.choose-date-time-outer {
    width: 46%;
}
.choose-date-outer-main {
    gap: 50px;
    justify-content: space-evenly;
}
#calender-wrapper {
    position: relative;
    border: 6px solid var(--secondary);
    overflow: hidden;
    border-top: 0px !important;
}

#calender-title {
    background: var(--secondary);
    color: var(--white-color);
    font-size: 18pt;
    height: 60px;
}
#calender-title div {
    height: 60px;
    width: 60px;
}
#calender-title p {
    height: 60px;
    width: 150px;
    color: var(--white-color);
}
#calender-content {
    width: 500px;
    padding: 10px;
    margin: 0 auto;
}
#make-booking {
    width: 100%;
    height: 100%;
    font-size: 20pt;
    color: var(--white-color);
}
#booking-wrapper {
    position: absolute;
    height: 650px;
    width: 720px;
    background: var(--white-color);
    border-radius: 10px 10px 0 0;
    margin-top: 150px;
    transition: 0.4s;
    overflow: hidden;
}
#booking-wrapper.opened {
    margin-top: -645px;
}
#booking-title {
    color: var(--white-color);
    font-size: 30pt;
    height: 60px;
    width: 100%;
}

textarea.formError, input.formError {
    transition: 0.4s;
    background: var(--white-color) !important;
    box-shadow: inset 0px 0px 0px 5px rgba(205, 108, 108, 0.92);
}

.month {
   width: 68px;
   height: 50px;
    transition: 0.4s;
}
#days p {
   width: 68px;
   text-align: center;
   font-size: 15px;
   font-family: var(--bold-font);
}

.month-selector {
    font-family: var(--Regular-font);
    width: 50px;
    height: 50px;
    transition: 0.4s;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.month-selector.clicked {
    background: var(--primary);
    color: var(--white-color);
}
.clickable:hover {
    z-index: 3;
    height: 50px;
   width: 50px;
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.14);
    background: var(--secondary);
    color: white;
}
.clickable:hover p {
    color: var(--white-color);
}
/* Choose Location Section End */

/* Appointment Category Selection Css Start */
.appointment-category-selection .appointfor-location-content {
    display: flex;
    flex-direction: column;
}
.appointment-category-selection .appointfor-location-content h3{
    font-family: var(--bold-font);
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 10px;
}
.appointment-category-selection .appointfor-location-content p{
    font-family: var(--bold-font);
    font-size: 18px;
    line-height: 22px;
    min-height: 45px;
}
/* Appointment Category Selection Css End */


/* Book your slot css start */
.next-icon {
    position: absolute;
    right: -18px;
    top: 41px;
}   
.next-icon img {
    width: 35px;
}
.book-now {
    background-color: var(--primary);
    padding: 15px;
    text-align: center;
    width: 188px;
}
.book-now h3 {
    position: relative;
    font-family: var(--bold-font);
    font-size: 20px;
    line-height: 28px;
}
.book-now h3::after {
    content: '';
    width: 95px;
    height: 2px;
    background-color: var(--secondary);
    position: absolute;
    left: 0;
    top: auto;
    bottom: -1px;
    margin: 0 auto;
    right: 0;
}
.book-now h4 {
    font-family: var(--bold-font);
    font-size: 16px;
    line-height: 24px;
    margin-top: 4px;
}
.book-now-div {
    display: flex;
    justify-content: center;
}
.book-now-outer-div {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
.book-now-left {
    width: 50%;
}
.book-your-slot-outer {
    margin-bottom: 50px;
}
.book-your-slot .appointfor-location {
    margin-bottom: 0rem;
    position: relative;
}
.book-your-slot .appointfor-location-icon {
    width: 200px;
}
.book-your-slot .appointfor-location-content {
    width: 700px;
    margin-left: 25px;
}
.book-your-slot .appointfor-location-content::before {
    left: -27px;
    height: 100%;
}
.book-your-slot .appointfor-location-icon img {
    float: left;
}
.book-your-slot .appointfor-location-content h3 {
    font-family: var(--bold-font);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    min-height: 0px;
}
.book-your-slot .appointfor-location-content p {
    font-family: var(--Regular-font);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    min-height: 0;
}
/* Book your slot css end */

/* Choose date and time css start */
.choose-date-content {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.choose-date-content p {
    color: var(--primary);
    font-family: var(--Regular-font);
    font-size: 20px;
    line-height: 30px;
}
.customer-book-details {
    margin-bottom: 30px;
}

.choose-date-time h3{
    font-family: var(--bold-font);
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px;
}
.choose-slot-booking ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
    justify-content: space-between;
}
.choose-slot-booking ul li {
    width: calc(100% / 4);
    
}
.choose-slot-booking ul li button{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--Regular-font);
    font-size: 15px;
    line-height: 0;
    padding: 20px;
    text-align: center;
    border: none;
    width: 100%;
}
.choose-slot-booking ul li button:hover,.choose-slot-booking ul li button.active{
    background-color: var(--secondary);
    color: var(--white-color);
}
.choose-slot-booking p {
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 10px;
    font-family: var(--bold-font);
    font-size: 15px;
}

/* Choose date and time css end */

/* Enter Your Information css start */
.booking-outer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.booking-date {
    font-size: 100px;
    font-family: var(--bold-font);
    line-height: 90px;
    color: var(--secondary);
}
.booking-month {
    font-family: var(--bold-font);
    color: var(--secondary);
    font-size: 28px;
}
.booking-time-outer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 128px;
    margin: 0 auto;
}
.booking-year {
    font-family: var(--bold-font);
    color: var(--secondary);
    font-size: 28px;
}
.booking-time-outer h3{
    color: var(--secondary);
    font-size: 35px;
    font-family: var(--bold-font);
}
.booking-time-outer h4{
    color: var(--secondary);
    font-size: 35px;
    font-family: var(--bold-font);
}
.booking-date-time-div {
    margin-top: 50px;
}
.booking-date-time-form {
    margin-top: 50px;
}
.form-control:focus {
    color: var(--secondary);
    background-color: var(--white-color);
    border-color: var(--border-color);
    outline: 0;
    box-shadow: none;
}
.form-control {
    color: var(--secondary);
    background-color: var(--white-color);
    outline: 0;
    border:3px solid var(--border-color);
    box-shadow: none;
    padding: 15px;
    font-family: var(--bold-font);
}
  .form-control::-webkit-input-placeholder { /* Edge */
    color: var(--secondary);
    font-family: var(--bold-font);
  }
  
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--secondary);
    font-family: var(--bold-font);
  }
  
  .form-control::placeholder {
    color: var(--secondary);
    font-family: var(--bold-font);
  }
  .booking-submit {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    font-family: var(--bold-font);
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 16px;
  }
  .booking-submit:hover, .booking-submit:active, .booking-submit:focus, .booking-submit:active:focus {
    background-color: var(--primary);
    border: none;
    color: var(--secondary);
    box-shadow: none;
  }
  .booking-submit::before {
    content: '';
    background-image: url(../images/submit-icon.png);
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
}

/* Enter Your Information css end */


/* Footer Css Start */
footer {
    margin-top: 6rem;
}
.back-div {
    border-radius: 10px;
    background: var(--primary);
    width: 168px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-div img{
    width: 39px;
    height: 39px;
    margin-right: 20px;
}
.back-div h3{
    font-family: var(--bold-font);
    font-size: 18px;
    line-height: 25px;
}
footer p {
    font-family: var(--bold-font);
    font-size: 16px;
}
.back-div-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-top: 2px solid var(--secondary);
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
}
.back-div-outer ul {
    display: flex;
    column-gap: 15px;
}
.back-div-outer ul li img{
    width: 25px;
}
/* Footer Css End */

/* thankyou page css start */
.thankyou-main-outer{
    padding: 30px;
    background-color:var(--white-color);
}
.thankyou-text-div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}
.thankyou-text-div h1{
    font-size: 30px;
    line-height: 40px;
}
.thankyou-text-div p{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50px;
    margin-top: 15px;
    display: inline-block;
    font-family: var(--bold-font);
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
}
.appointment-center {
    display: flex;
    margin-top: 30px;
}
.appointment-center h2{
    font-size: 30px;
    color: var(--secondary);
    line-height: 28px;
    margin-bottom: 15px;
    font-family: var(--bold-font);
}
.appointment-center h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    font-family: var(--bold-font);
}
.appointment-center p{
    color: var(--secondary);
    font-family: var(--Regular-font);
}
.your-details-outer {
    padding: 30px;
    background-color: var(--white-color);
    margin-top: 50px;
    margin-bottom: 50px;
}
.your-details-outer h2 {
    font-size: 30px;
    color: var(--secondary);
    line-height: 28px;
    margin-bottom: 15px;
    font-family: var(--bold-font);
}
.your-details-outer ul li p {
    font-size: 18px;
    font-family: var(--Regular-font);
}
.your-details-outer ul li p strong {
    font-family: var(--bold-font);
}
.your-appointment-outer {
    padding: 30px;
    background-color: var(--white-color);
}
.your-appointment-outer h2  {
    font-size: 30px;
    color: var(--secondary);
    line-height: 28px;
    margin-bottom: 15px;
    font-family: var(--bold-font);
}
.your-appointment-outer h3 {
    font-size: 18px;
    color: var(--secondary);
    line-height: 28px;
    font-family: var(--bold-font);
}
.your-appointment-outer ul li p {
    font-size: 18px;
    font-family: var(--Regular-font);
}
.your-appointment-outer ul li p strong {
    font-family: var(--bold-font);
}

.your-appointment-innner:not(:first-child) {
    margin-top: 30px;
}
.thankyou-div-outer {
    margin-top: 100px;
}
/* thankyou page css end */